.pagenate {
  width: fit-content;
  margin-left: auto;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.pagenate button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
}

.pagenate button:disabled {
  cursor: not-allowed;
}

.dark .pagenate {
  background-color: var(--dark-light-theme-color);
}

.light .pagenate {
  background-color: var(--light-dark-theme-color);
}

.dark .pagenate button {
  color: var(--dark-light-text-color);
}

.light .pagenate button {
  color: var(--light-text-color);
}

.dark .pagenate button:hover:enabled {
  border: 2px solid var(--dark-text-color);
}

.light .pagenate button:hover:enabled {
  border: 2px solid var(--light-text-color);
}

.dark .pagenate button:disabled {
  background-color: var(--dark-theme-color);
}

.light .pagenate button:disabled {
  background-color: var(--light-header-color);
}

.dark .pagenate button.active-btn {
  background-color: var(--dark-text-color);
}

.light .pagenate button.active-btn {
  background-color: var(--light-text-color);
  color: white;
}

.pagenate button {
  background-color: initial;
  border: 0px;
}

@media only screen and (max-width: 600px) {
  .pagenate {
    display: flex;
    justify-content: center;
  }
  .pagenate button {
    width: 35px;
    height: 35px;
  }
}
