.App {
  min-width: fit-content;
  overflow: auto;
  min-height: 100vh;
}

.App.dark {
  background-color: var(--dark-theme-color);
}

.App.light {
  background-color: var(--light-theme-color);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 6rem;
  position: relative;
  padding-bottom: 5rem;
}

/* **************************************** Top Header Styling ******************************* */

.header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header i {
  font-size: 2rem;
  cursor: pointer;
}

.header .fa-sun {
  color: var(--light-theme-color);
}

.header .fa-moon {
  color: var(--dark-theme-color);
}

.header p {
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  font-family: "Inter";
  font-style: normal;
}

.dark .header p {
  color: var(--dark-header-color);
}

.light .header p {
  color: var(--light-header-color);
}

.top-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.top-options .fa-times {
  color: var(--sky-blue-color);
  font-size: 20px;
  cursor: pointer;
}

.search_bar {
  height: 60px;
  padding: 0rem 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 84%;
}

.search_bar .fa-search {
  color: var(--sky-blue-color);
  font-size: 20px;
}

/* Background Color Of Search Bar On  */

.dark .search_bar {
  background-color: var(--dark-light-theme-color);
}

.light .search_bar {
  background-color: var(--light-dark-theme-color);
}

.search_bar input {
  background-color: inherit;
  border: 0px;
  outline: 0px;
  font-size: 16px;
  width: 100%;
}

.dark .search_bar input {
  color: var(--dark-text-color);
}

.light .search_bar input {
  color: var(--light-text-color);
}

.delete-header {
  height: 60px;
  padding: 0 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 18px;
}

.dark .delete-header {
  background-color: var(--dark-light-theme-color);
  color: var(--dark-light-text-color);
}

.light .delete-header {
  background-color: var(--light-dark-theme-color);
  color: var(--light-light-text-color);
}

/********************************************* Table Styling *****************************/

.tableContainer {
  padding-bottom: 3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table .email {
  word-break: break-all;
}

.dark table tr:not(:last-child) {
  border-bottom: 1px solid var(--dark-light-theme-color);
}

.light table tr:not(:last-child) {
  border-bottom: 1px solid var(--light-header-color);
}
table .actionable {
  cursor: pointer;
}

.dark table .actionable:hover {
  background-color: var(--dark-light-theme-color);
}

.light table .actionable:hover {
  background-color: var(--light-header-color);
}

table th {
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  padding: 1rem;
}

table tr th:last-child {
  text-align: right;
}

table .checkbox-container {
  width: 40px;
  height: 25px;
}

table tr th:not(:first-child) {
  width: 170px;
  height: 25px;
}

table td {
  padding: 0.6rem;
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 1rem;
}

table tr td:last-child {
  text-align: right;
}

.dark th {
  color: var(--dark-light-text-color);
  border-bottom: var(--dark-light-theme-color);
}

.light th {
  color: var(--light-text-color);
  border-bottom: var(--dark-light-theme-color);
}

.edit-delete {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  opacity: 0;
}

.dark .datarow:hover,
.dark .active {
  background-color: #363e52;
}

.light .datarow:hover,
.light .active {
  background-color: #afb0b3;
}

.datarow:hover .edit-delete {
  opacity: 1;
}

.edit-delete i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dark .edit-delete i {
  background-color: var(--dark-light-theme-color);
  color: var(--dark-light-text-color);
}

.light .edit-delete i {
  background-color: var(--light-dark-theme-color);
  color: var(--light-text-color);
}

.dark td {
  color: var(--dark-light-text-color);
}

.light td {
  color: var(--light-text-color);
}

.dark .checkbox {
  background-color: var(--dark-theme-color);
}

.light .checkbox {
  background-color: var(--light-theme-color);
}

/* 
Custom Style For CheckBox
 */

.checkbox-container {
  position: relative;
  cursor: pointer;
  font-size: 22px;
  margin-left: 30px;
  align-self: center;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 50%;
  left: 0px;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--sky-blue-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dark .checkbox-container .checkmark:after {
  border: solid var(--dark-theme-color);
  border-width: 0 3px 3px 0;
}

.light .checkbox-container .checkmark:after {
  border: solid var(--light-theme-color);
  border-width: 0 3px 3px 0;
}

.dark .checkmark {
  background-color: var(--dark-theme-color);
  border: 2px solid var(--dark-light-text-color);
}

.light .checkmark {
  background-color: var(--light-theme-color);
  border: 2px solid var(--light-text-color);
}

.checkbox-container input:checked ~ .checkmark {
  border: 2px solid var(--sky-blue-color);
}

@media only screen and (max-width: 900px) {
  .container {
    width: 90%;
    padding-top: 2rem;
    margin: 0 auto;
  }
  table .name {
    word-break: break-all;
  }
  table td,
  table th {
    padding: 1rem;
  }

  .checkbox-container {
    margin-left: 10px;
    margin-right: 15px;
    font-size: 16px;
  }

  .checkbox-container .checkmark {
    width: 15px;
    height: 15px;
  }

  .checkbox-container .checkmark:after {
    left: 3px;
    top: 0px;
    width: 5px;
    height: 10px;
  }

  .top-options {
    justify-content: center;
    gap: 1rem;
  }

  .search_bar input {
    font-size: 1rem;
  }

  .top-options button {
    font-size: 1rem;
  }
  table .email {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .edit-delete {
    flex-direction: column;
  }

  table td,
  table th {
    padding: 0.5rem;
  }
}
